.page {
  min-height: 100vh;
  padding: 24px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: #f6f7fb;
  color: black;
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  /* gap: 8px; */
  align-items: center;
}
